/NetbeansWorkspace/TestNetbeans/nbproject/private/
/NetbeansWorkspace/TestNetbeans/build/
/NetbeansWorkspace/FormattingCode/nbproject/private/
/NetbeansWorkspace/FormattingCode/build/
/NetbeansWorkspace/FirstLibrary/nbproject/private/
/NetbeansWorkspace/FirstLibrary/build/
/NetbeansWorkspace/Employee/nbproject/private/
/NetbeansWorkspace/Employee/build/
/NetbeansWorkspace/Age/nbproject/private/
/NetbeansWorkspace/JUnitDemo1/nbproject/private/
/NetbeansWorkspace/JUnitDemo1/build/
/Project2/nbproject/private/
/NetbeansWorkspace/Project2/nbproject/private/
/NetbeansWorkspace/Project2A/nbproject/private/
/NetbeansWorkspace/Project2A/build/